# Clear json for gaze-follow & save .mat

### Import dependencies

In [0]:
import numpy as np
from google.colab import files
import io
import pandas as pd
from matplotlib import pyplot as plt

In [14]:
uploaded = files.upload()

Saving via_final.json to via_final.json

In [0]:
json = pd.read_json('via_final.json')

In [0]:
df = json.T

In [18]:
df

                  file_attributes  ...   size
00000001.jpg14934              {}  ...  14934
00000002.jpg13949              {}  ...  13949
00000003.jpg10441              {}  ...  10441

[3 rows x 4 columns]

In [19]:
len(df)

3

In [20]:
df['regions'][0][0]

{'region_attributes': {'label': {'bbox': True}},
 'shape_attributes': {'height': 208,
  'name': 'rect',
  'width': 118,
  'x': 35,
  'y': 11}}

In [0]:
def get_bbox(i):
    tmp = df['regions'][i][0]
    x = tmp['shape_attributes']['x']
    y = tmp['shape_attributes']['y']
    height = tmp['shape_attributes']['height']
    width = tmp['shape_attributes']['width']
   
    return x, y, height, width

In [0]:
def get_eyes(i):

    tmp = df['regions'][i][1]  # eyes
    eyes_x = tmp['shape_attributes']['cx']
    eyes_y = tmp['shape_attributes']['cy']
    
    return eyes_x, eyes_y

In [0]:
def get_gaze(i):

    tmp = df['regions'][i][2]  # gaze
    gaze_x = tmp['shape_attributes']['cx']
    gaze_y = tmp['shape_attributes']['cy']
    
    return gaze_x, gaze_y

In [24]:
print(get_bbox(0))

(35, 11, 208, 118)

In [25]:
my_list = []
size = 227

for i in range(len(df)):
    
    name = df['filename'][i]
    x, y, h, w = get_bbox(i)
    gx, gy = get_eyes(i)
    ex, ey = get_gaze(i)
    
    my_list.append(name)
    my_list.append(x/size)
    my_list.append(y/size)
    my_list.append(h/size)
    my_list.append(w/size)
    my_list.append(gx/size)
    my_list.append(gy/size)
    my_list.append(ex/size)
    my_list.append(ey/size)
    

    
print(my_list)

['00000001.jpg', 0.15418502202643172, 0.048458149779735685, 0.9162995594713657, 0.5198237885462555, 0.5066079295154186, 0.29515418502202645, 0.5418502202643172, 0.8722466960352423, '00000002.jpg', 0.13215859030837004, 0.4052863436123348, 0.5814977973568282, 0.6431718061674009, 0.5594713656387665, 0.5903083700440529, 0.6431718061674009, 0.920704845814978, '00000003.jpg', 0.2422907488986784, 0.10572687224669604, 0.8854625550660793, 0.5066079295154186, 0.5110132158590308, 0.45374449339207046, 0.5066079295154186, 0.9559471365638766]

In [26]:
my_list = np.reshape(my_list,(-1,9))
my_list

array([['00000001.jpg', '0.15418502202643172', '0.048458149779735685',
        '0.9162995594713657', '0.5198237885462555', '0.5066079295154186',
        '0.29515418502202645', '0.5418502202643172',
        '0.8722466960352423'],
       ['00000002.jpg', '0.13215859030837004', '0.4052863436123348',
        '0.5814977973568282', '0.6431718061674009', '0.5594713656387665',
        '0.5903083700440529', '0.6431718061674009', '0.920704845814978'],
       ['00000003.jpg', '0.2422907488986784', '0.10572687224669604',
        '0.8854625550660793', '0.5066079295154186', '0.5110132158590308',
        '0.45374449339207046', '0.5066079295154186',
        '0.9559471365638766']], dtype='<U20')

In [27]:
my_df = pd.DataFrame(my_list)
my_df

              0                    1  ...                   7                   8
0  00000001.jpg  0.15418502202643172  ...  0.5418502202643172  0.8722466960352423
1  00000002.jpg  0.13215859030837004  ...  0.6431718061674009   0.920704845814978
2  00000003.jpg   0.2422907488986784  ...  0.5066079295154186  0.9559471365638766

[3 rows x 9 columns]

In [0]:
my_df.to_csv('ms_annotations.csv', index=False, header=False)
files.download('ms_annotations.csv')